<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ="/result" method = "post">
        <label for="your_name">Your Name:</label>
            <input type="text" name="your_name">
        <p>Dojo Locations:</p>
            <select name="location">
                <option value="Douala">Douala</option>
                <option value="Bamenda">Bamenda</option>
                <option value="Yaounde">Yaounde</option>
                <option value="Kribi">Kribi</option>
            </select>
        <p>Favorite Language:</p>
            <select name="language">
                <option value="Python">Python</option>
                <option value="Javascript">Javascript</option>
                <option value="Java">Java</option>
            </select>
        <p>Comment (optional):</p>
            <textarea name="comment"></textarea>
        <input type="submit" value="Button">
    </form>
</body>
</html>